/*---------------------------------------------------------------------------------------------- NAVIGATIE----------------------------------
*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: black;
}

div:nth-of-type(1){
    color: snow;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-family: "Georgia";
    font-size: 1em;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: snow;
    text-decoration: none;
    font-weight: bold;
    padding: 0.4em;
    font-family: "Georgia", sans-serif;
    font-size: 1em;
}

.nav-links li a:hover {
    text-decoration: underline;
    color: snow;
   font-size: 1.5em;
}

/* om het hamburgermenu niet te laten zien*/
.burgermenu {
    display: none;
}

.burgermenu div {
    width: 1.5em;
    height: 0.2em;
    background-color: snow;
    margin: 0.3em;
}

@media (max-width: 48em) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        margin: 0px;
        height: 92vh;
        /* om het fullscreeen te maken */
        top: 7vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        /* zet de nav container naast het scherm*/
        transition: tranform 0.5s ease-in;
    }

    .burgermenu {
        display: block;
        /* hamburgermenu weer zichtbaar*/
    }
}

.nav-active {
    transform: translateX(0%);
}

.nav-links li a:hover {
    text-decoration: underline;
    color: snow;
   font-size: 1.5em;
}/* WERKT NIET??*/

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
/* bron:https://www.youtube.com/watch?v=gXkqy0b4M5g&t=1335s */


/*----------------------------------------------------------------------------------------------HEADER--------------------------------------
*/


h1:hover {
    transform: rotate(5deg);
}

@media (min-width: 32em) {
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style: none;
        right: 5em;
    }
}

/*----------------------------------------------------------------------------------------------BODY--------------------------------------
*/

body {
    margin: 0em;
    margin-top: 0em;
}

.vak1 {
    width: 25em;
    padding-top: 2em;
}

.vak2 {
    width: 25em;
    padding-top: 2em;
}

.container {
    display: flex;
    justify-content: center;
}

@media (min-width: 50em) {
    .vakken {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 0.2em;
        grid-row-gap: 1em;
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 5em;
    }
}

@media (min-width: 70em) {
    .vakken {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 0.2em;
        grid-row-gap: 1em;
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 5em;
        padding-bottom: 5em;

    }
}

article a:hover {
    transform: rotate(10deg);
    overflow: hidden;
}


/*-----------------------------------------------------------------------------------------------OVER MIJ PAGINA--------------------------*/

.fotomij {
    width: 100%;
}

.fotomij:hover {
    transition: 1.5s;
    transform: rotate(360deg);
}

@media (min-width: 50em) {
    .tekstovermij {
        display: flex;
        flex-direction: row;
        font-family: "Georgia";
    }

    .fotomij {
        width: 40em;
    }

    h2 {
        padding-top: 0em;
    }
}

h2 {
    font-size: 1.4em;
    font-weight: lighter;
    padding-right: 2em;

}

.tekst {
    padding-right: 2em;
    font-size: 1.2em;
    padding-left: 1em;
}




/*-----------------------------------------------------------------------------------------------VID PAGINA-------------------------------*/

.vidfoto {
    width: 100%;
}

@media (min-width: 32em) {
    .vidfoto {
        padding-left: 2em;
    }
}

@media (min-width: 40em) {
    .vid {
        display: flex;
        flex-direction: row;
    }

    .tekstvid {
        padding-left: 0.5em;
    }

    .vidfoto {
        padding-right: 0em;
        width: 20em;
    }
}

@media (min-width: 55em) {
    .vid {
        display: flex;
        flex-direction: row;
    }

    .tekstvid {
        padding-left: 2em;
    }

    .vidfoto {
        padding-right: 3em;
        width: 25em;
    }
}

@media (min-width: 75em) {
    .vid {
        display: flex;
        flex-direction: row;
    }

    .tekstvid {
        padding-left: 8em;
        padding-right: 2em;
    }

    .vidfoto {
        padding-right: 8em;
        width: 30em;
    }

}

/*----------------------------------------------------------------------------------------------SNOOZY PAGINA-----------------------------*/
.grid{
    display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 0em;
        padding-left: 2em;
        padding-right: 2.5em;
        padding-top: 2em;
}
.fotosnoozy{
    width: 40em;
    height: 30em;
}
.slideshow{
    margin: auto;
    position: relative;
    width: 100%;
    height: 50vmin;
}

.fade:not(.show) {
    opacity: 1;
}
.tekstsnoozy {
    padding-right: 2em;
    font-size: 1.2em;
    padding-left: 1em;
}















/*-----------------------------------------------------------------------------------------------CONTACT PAGINA---------------------------*/
form {
    display: flex;
    flex-direction: column;
    transition: all .5s;
    padding: 1em;
   /* background-color: lightgreen;*/
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1em;
    border: none;
    transition: all .2s;
    padding: 1em;  
}
fieldset:valid p {
    display: block;
    color: White;
    background-color: seaGreen;
    padding: 0.5em;
    width: 70%;
}
fieldset:invalid p {
    display: none;
}

/* zorgen dat de tekst niet te zien is*/
legend {
    font-size: 1.5em;
    font-weight: bold;
}

input {
    border-color: black;
    padding: 0.5em;
    font-size: 1.5em;
    margin-bottom: 1em;
    width: 70%;
    transition: all 2s;
}

input:valid {
    border-color: green;
}

input:invalid {
    border-color: Red;
    
}

textarea {
    border-color: green;
    padding: 0.5em;
    transition: all 2s;
    padding: 1em;
    width: 70%;
    height: 20em;
    resize: none; /* raar dingetje rechts onder weg*/
}

textarea:invalid {
    border-color: Red;
}

.focus:focus {
    transform: scale(1.05, 1.05);
}
/* gebruikte bron:codepen.io/joostf/pen/VKyPxk*/

input::placeholder {
    color: yellow;
    /*WERKT NIET??*/
    font-style: italic;
}

button {
    font-size: 1.5em;
    transition: all .2s 1s;
    opacity: 0; /* WEG HALEN*/
    width: 10em;
    height: 2em;
    margin-left: 1em;
}

form:valid button {
    opacity: 1
}

button:focus {
    transform: scale(1.1, 1.1);
}

.tekst {
    padding-left: 1em;
}

.formulier {
    padding-left: 1em;
    padding-right: 1em;
}

@media (min-width: 34em) {
    .formulier {
        padding-left: 2em;
        padding-right: 20%;
    }

    .tekst {
        padding-left: 2em;
    }

}
/*-----------------------------------------------------------------------------------------------FOOTER---------------------------*/
footer {
    background-color: black;
    display: flex;
    
}
/*.logo{
    width: 3em;
    padding-right: 2em;
}*/